a:link {
    text-decoration: none;
}

body {
    background-image: url('https://th.bing.com/th/id/R.f61ef4382170eabeda0d1ccc8b4c2830?rik=ka%2beR27iMTyLjA&riu=http%3a%2f%2fwww.relational-technologies.com%2fassets%2fimg%2fabout-us.jpg&ehk=NHxM07Jx1hND80g7MsW9J3IpM839c5XwIrm1VtVWITg%3d&risl=&pid=ImgRaw&r=0');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(5px);
    border-radius: 25px;
}
